.modalarea {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
	color: white;
	font-family: arial, sans-serif;
	font-size: 1.25em;
}

.modalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modalClose:hover, .modalClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

 .modalVertical {
	text-align: center;
}

.modalHorizontal {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	animation-name: zoom;
    animation-duration: 0.6s;
}


.gallery
{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.thumbs
{
    border-radius: 5px;
    cursor: pointer;
	opacity: 0.7;
	transform-origin: 50% 50%;
    transition: 0.3s;
	filter: blur(1px);
}

.thumbs:hover
{	
	opacity: 1;
	filter: none;
	transform: scale(1.05);
}