<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title> |Testleht| </title>
</head>

<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner" style="display: block; margin: 0 auto;">
  <h1>MartinS, juuniorprogeja</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee/" target="_blank">TLU</a> veebiprogemise kursusel, ei sisalda tõsist
    sisu</p>
  <p>See rida on lisatud kodus ja läbi Putty ja WinSCP üles laetud.</p>
  <p>Olen kokku puutunud Javascripti, Typescripti ja Javaga ning teinud mõned proovitööd ka tööpakkumistega seoses.</p>
  <p>Hobikorras tegelen klaveriõppega, samuti olen tegelenud laskespordiga ja motokrossiga.</p>
  <hr>
  <!-- <hr> teeb horizontal rule, peenike jutt / riba -->

  <ul>
    <li><a href="/"> Avaleht </a></li>
    <li><a href="/Eestifilm">Eesti filmide avaleht</a></li>
  </ul>
  <hr>
  <h2> Uue rolli või positsiooni lisamine </h2>

  <form method="POST">
    <label for="positionInput"> Rolli / positsiooni nimetus </label>
    <input id="positionInput" name="positionInput" type="text" placeholder="Rolli / positsiooni nimi" required>
    <br>
    <label for="positionDescriptionInput"> Rolli või positsiooni kirjeldus </label>
    <textarea id="positionDescriptionInput" name="positionDescriptionInput" cols="100" rows="5" placeholder="Ameti lühikirjeldus..." required> </textarea>  
    <br>
    <input id="positionSubmit" name="positionSubmit" type="submit" value="Salvesta positsioon andmebaasi">
  </form>
  <p>
    Staatus: <%= notice %>
  </p>


</body>
<!-- action="/Eestifilm/filmi_position_add -->


<style>
  h1,
  p,
  img {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
  }
</style>


</html>

<!-- moodle kursuse võti: VP2025TA -->
<!-- parooli muutmiseks command: passwd -->
<!-- väljumiseks: exit -->
<!-- failide transpordiks: WinSCP -->
<!-- tunneli server: lin2.tlu.ee -->