<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title> |Testleht| </title>
</head>

<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner" style="display: block; margin: 0 auto;">
  <h1>MartinS, juuniorprogeja</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee/" target="_blank">TLU</a> veebiprogemise kursusel, ei sisalda tõsist
    sisu</p>
  <p>See rida on lisatud kodus ja läbi Putty ja WinSCP üles laetud.</p>
  <p>Olen kokku puutunud Javascripti, Typescripti ja Javaga ning teinud mõned proovitööd ka tööpakkumistega seoses.</p>
  <p>Hobikorras tegelen klaveriõppega, samuti olen tegelenud laskespordiga ja motokrossiga.</p>
  <hr>
  <!-- <hr> teeb horizontal rule, peenike jutt / riba -->

  <ul>
    <li><a href="/"> Avaleht </a></li>
  </ul>
  <hr>
  <h2> Lae üles galerii foto </h2>
  <form method="post" enctype="multipart/form-data">
    <label for="photoInput">Vali soovitud meediafail</label>
    <input id="photoInput" name="photoInput" type="file">
    <br><br>
    <label for="altInput">Pildi alternatiivtekst: </label>
    <input id="altInput" name="altInput" type="text" placeholder="Sellel pildil on ...">
    <br><br>
    <!-- checked = automaatselt valitud -->
    <input id="privacyInput1" name="privacyInput" type="radio" value="1" > 
    <label for="privacyInput1"> Privaatne </label>
    
    <input id="privacyInput2" name="privacyInput" type="radio" value="2"> 
    <label for="privacyInput2"> Sisseloginud kasutajatele </label>

    <input id="privacyInput3" name="privacyInput" type="radio" value="3" checked> 
    <label for="privacyInput3"> Avalik / kõigile </label>
    <br><br>
    <input type="submit" id="photoSubmit" name="photoSubmit" value="Lae foto üles">

  </form>



</body>
<!-- action="/Eestifilm/filmi_position_add -->


<style>
  h1,
  p,
  img {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
  }
</style>


</html>
