<!DOCTYPE html>
<html lang="et">

<head>
  <meta charset="utf-8">
  <title> |Testleht| </title>
</head>

<body>
  <img src="images/vp_banner_2025_TA.jpg" alt="kursuse bänner" style="display: block; margin: 0 auto;">
  <h1>MartinS, juuniorprogeja</h1>
  <p>See leht on loodud <a href="https://www.tlu.ee/" target="_blank">TLU</a> veebiprogemise kursusel, ei sisalda tõsist
    sisu</p>
  <p>See rida on lisatud kodus ja läbi Putty ja WinSCP üles laetud.</p>
  <p>Olen kokku puutunud Javascripti, Typescripti ja Javaga ning teinud mõned proovitööd ka tööpakkumistega seoses.</p>
  <p>Hobikorras tegelen klaveriõppega, samuti olen tegelenud laskespordiga ja motokrossiga.</p>
  <hr>
  <!-- <hr> teeb horizontal rule, peenike jutt / riba -->

  <ul>
    <li><a href="/"> Avaleht </a></li>
    <li><a href="/Eestifilm">Eesti filmide avaleht</a></li>
  </ul>
  <hr>
  <h2> Kõik filmi-rolli-inimeste seosed </h2>
  <ol>
    <% relationList.forEach(function(rel){ %>
      <li>
        Person ID: <%= rel.person_id %> <br>
          Movie ID: <%= rel.movie_id %> <br>
            Position ID: <%= rel.position_id %> <br>
              Role: <%= rel.role || "-" %>
      </li>
      <% }) %>
  </ol>

</body>



<style>
  h1,
  p,
  img {
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
  }
</style>

</html>